<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/67b5d626-6793-4865-84b8-57330f18fb6c/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/myapp2711</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://myapp2711.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://myapp2711.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$myapp2711</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>